body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

#navTitulo{
  font-size: 32px;
  color: rgb(29, 158, 29);
  font-weight: bold;
}

.navbar{
  width: 100%;
  margin-top: 00px;
}

.nav-item{
  padding-left: 2.5rem;
  margin-top: 8px;
}

#imgLogo{
  max-width: 100px;
}

#carritoImg{
  max-width: 80px;
  margin-left: 0px;
  
}

.card{
  width: 13rem;
  margin: 50px 15px 15px 15px;

  
 
    
}

.contenedorCards{
  display: flex;

  
}

h3, h5, p{
  color: black;
  
}

#contador{
  display: inline;
  margin-left: 20px ;
  margin-right: 20px ;
}

.imgSize{
  max-width: 130px;
}






